
<form class="form-horizontal" role="form" novalidate="novalidate" ng-submit="add()" disable-auto-validate="true" validate-on-form-submit="true">

    <div class="row">

        <div class="col-xs-12">
            <div class="form-group">
                <label for="name" class="control-label">Title</label>
                <input id="name" name="name" type="text" class="form-control  input-sm" data-ng-model="messageData.name" placeholder="Name" required />
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="text" class="control-label">Text</label>
                <textarea id="text" name="text" type="text" class="form-control  input-sm" data-ng-model="messageData.text" placeholder="Text" required></textarea>
            </div>
        </div>
    </div>

    <div class="page-header small">
    </div>

    <div style="text-align:center">
        <input type="submit" class="btn btn-primary" value="Save" />
        <a href="#/message/list" class="btn btn-warning">Cancel</a>
    </div>

</form>
