

<div class="row">

    <div class="col-xs-8">

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Text
                    </th>
                    <th>
                        <a href="#/message/list?page={{page}}&search={{search}}&column={{column}}&sort={{sort}}" ng-click="sorting('date')">
                            Date
                            <span ng-show="column === 'date' && sort==='desc'" class="fa fa-caret-down"></span>
                            <span ng-show="column === 'date' && sort==='asc'" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th data-ng-show="authentication.isAuth"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in messageList">
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                        {{item.text}}
                    </td>
                    <td>
                        {{item.date}}
                    </td>
                    <td data-ng-show="authentication.isAuth">
                        <a  ng-click="details(item.id)" class="btn btn-link">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                            Edit
                        </a>
                        <a ng-click="revove(item.id)" class="btn btn-link">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>
    <div class="col-xs-4">

        <form class="form-horizontal" role="form" novalidate="novalidate" ng-submit="save()" disable-auto-validate="true" validate-on-form-submit="true">

            <div class="form-group">
                <label for="text" class="control-label">Text</label>
                <textarea id="text" name="text" type="text" class="form-control  input-sm" data-ng-model="messageData.text" placeholder="Text" required></textarea>
            </div>


            <input type="submit" class="btn btn-primary" value="Save" />

        </form>
    </div>

</div>
